# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Midtrans Configuration
# Client Key (Untuk Frontend/JS)
MIDTRANS_CLIENT_KEY=
# Server Key (Untuk Backend/PHP)
MIDTRANS_SERVER_KEY=
# Production Mode (true/false)
MIDTRANS_IS_PRODUCTION=false

# Database Configuration
LOCALHOST_DB_HOST=localhost
LOCALHOST_DB_NAME=garudacbt
LOCALHOST_DB_USER=root
LOCALHOST_DB_PASS=

HOSTING_DB_HOST=localhost
HOSTING_DB_NAME=u116133173_sekolah
HOSTING_DB_USER=u116133173_sekolah
HOSTING_DB_PASS=password_db_anda

# Hosting Domain
HOSTING_DOMAIN=domainanda.com
APP_URL=
